.loading {
  background-color: $light-gray-color;
  opacity: 0.3;
}

.settings {
  display: flex;
  width: 100%;
  height: 100%;
  // justify-content: space-around;
  align-items: center;

  a {
    display: block;
    color: $link-color;
    padding: 0 8px 0 0;
  }
}

.gear {
  width: 15px;
  height: 15px;

  svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }

  path {
    fill: $text-color;
  }
}
