a:hover {
  cursor: pointer;
}

.red {
  color: rgb(219, 126, 126);
}

.header {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 2px 2px 0 0;
  padding: 5px;
}

.gear {
  text-align: right!important;
  padding-right: 10px!important;
}

.gearCheck {
  margin: 3px;
}

.gearHeader {
  margin-top: 12px;
}

.content {
  background-color: white;
  border: 1px solid $border-color;
  border-top: none;
  border-radius: 0 0 2px 2px;
  padding: 5px;
}

.sticky {
  position: relative;
  z-index: 3;
}

.top_m_5 {
  margin-top: 5px;
}

.footer {
  background-color: white;
  border-top: 1px solid $border-color;
}

.divider {
  float: left;
  width: 100%;
}

.btn_info_2 {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #416893;
  padding: 5px 15px;
  color: #416893;
  &:hover {
    background: #416893;
    color: white;
    cursor: pointer;
  }
}
.plus_block {
  background: #3d809a;
  height: 2px;
  &:hover {
    cursor: pointer;
    background: #37a61e;
  }
}
.plus_btn {
  right: 10px;
  margin-top: -12px;
  border-radius: 50px;
  border: 1px solid #3d809a;
  background: #3d809a;
  color: white;
  padding: 2px 9px;
  position: absolute;
  &:hover {
    cursor: pointer;
    border: 1px solid #37a61e;
    background: #37a61e;
    color: white;
  }
}
.plus_block_col {
  background: #3d809a;
  height: 2px;
  &:hover {
    cursor: pointer;
    background: #37a61e;
  }
}
.plus_btn_col {
  border: 1px solid #3d809a;
  background: #3d809a;
  color: white;
  padding: 5px 11px;
  float: left;
  &:hover {
    cursor: pointer;
    border: 1px solid #37a61e;
    background: #37a61e;
    color: white;
  }
}
.delete_btn {
  border: 1px solid #ec2d2d;
  color: #ec2d2d;
  position: absolute;
  right: 10px;
  padding: 0px 6px;
  top: -6px;
  &:hover {
    background: #ec2d2d;
    color: white;
    cursor: pointer;
  }
}
.btn_select_type {
  width: 100px;
  height: 100px;
  &:hover {
    background: #a1b8bb;
    cursor: pointer;
  }
}
.panel_react {
  margin-bottom: 1px !important
}

.element_items {

}

.item {
  float: left;
  margin-right: 10px;
}

.content_table {
  background-color: white;
  border: 1px solid $border-color;
  border-top: none;
  border-radius: 0 0 2px 2px;
  padding: 5px;
}