.table {
  width: 100%;
  border-collapse: collapse;

  tbody {

    tr:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }

  thead td {
    color: $text-color-dipper;
  }

  td {
    padding: 12px 10px;
    font-weight: 400;
    text-align: center;
  }

  td:nth-child(1) {
    width: 27%;
    padding-left: 20px;
    text-align: left;
  }

  td:nth-child(2) {
    width: 17%;
    text-align: right;
  }

  td:nth-child(3) {
    width: 15%;
    text-align: right;
  }

  td:nth-child(4) {
    width: 13%;
    text-align: left;
  }

  td:nth-child(5) {
    width: 20%;
    text-align: left;
  }

  td:last-child {
    padding-right: 20px;
    width: 5%;
  }
}
