// Анимация
@mixin easeOut {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

// Тень
@mixin z-depth {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}
@mixin z-depth-1 {
  box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.09) , 0px 1px 8px 0 rgba(0, 0, 0, 0.07);
}

// Анимация ошибки незаполненного поля формы
@mixin inputErrorAnim {
  animation: blink-animation 0.8s ease-in-out 3;
}
@mixin inputErrorKeyframes($color-from, $color-to) {
  @keyframes blink-animation {
    from {
      border: 1px solid $color-from;
    }

    to {
      border: 1px solid $color-to;
    }
  }
}

@mixin textWOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin emptyWarn {
  font-size: 20px;
  font-weight: 300;
}

// тени для sticky
@mixin shadow {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(app/common/images/shadow-top.png) left top repeat-x;
  }
}

@mixin shadowTop {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: -7px;
    left: 0;
    width: 100%;
    height: 6px;
    transform: scaleY(-1);
    background: url(app/common/images/shadow-top.png) left top repeat-x;
  }
}

// тени внутри скрола
@mixin scrollTopShadow {
  // z-index: 1;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(app/common/images/shadow-top.png) left top repeat-x;
    z-index: 1;
  }
}

@mixin scrollBottomShadow {
  // z-index: 1;

  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(app/common/images/shadow-top.png) left top repeat-x;
    transform: scaleY(-1);
    z-index: 1;
  }
}
