.reportList {
  overflow: auto;
  margin: 60px 10px 50px 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background-color: #b0c8e2 !important;
  min-height: 600px;
}
.refreshReports {
  background: rgba(30, 150, 230, 0.692);
  float: right;
  padding: 3px 10px;
  color: white;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.closeReports {
  background: red;
  float: right;
  padding: 3px 10px;
  color: white;
  margin-right: -20px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
